# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.x'
        go-version-file: 'cli/go.mod'
        cache-dependency-path: 'cli/go.sum'

    - name: Build
      run: cd cli && go build -v ./...

    - name: Run Unit tests
      run: |
        cd cli && go test -race -covermode atomic -coverprofile=coverage.txt ./... 

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}      